<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>boardOne</h1>
	<table border="1">
		<tr>
			<th>boardNo</th>
			<td>{{board.boardNo}}</td>
		</tr>
		<tr>
			<th>boardNo</th>
			<td>{{board.title}}</td>
		</tr>
		
		<tr>
			<th>file</th>
			<td>
				{{#boardfileList}}
					<div>
						<!-- fileNo, filename, originName, fileSize, fileExtension -->
						<a href="{{springMacroRequestContext.request.contextPath}}/" 
							download="{{originName}}">
							{{filename}}.{{fileExtension}} ({{fileSize}} Byte)	
						</a>
						<form action="{{springMacroRequestContext.request.contextPath}}/removeFile" method="post" style="display:inline;">
					        <input type="hidden" name="fileNo" value="{{fileNo}}">
					        <button type="submit">[파일삭제]</button>
					    </form>
					</div>
				{{/boardfileList}}
				
				{{^boardfileList}}
					<div>첨부된 파일이 없습니다.</div>
				{{/boardfileList}}
			</td>
		</tr>
	</table>
	<hr>
	<form action="{{springMacroRequestContext.request.contextPath}}/removeBoard" method="post">  
	    <input type="hidden" name="boardNo" value="{{board.boardNo}}">
	    <button type="submit">[삭제(첨부파일포함삭제)]</button>
	</form>
	<a href="{{springMacroRequestContext.request.contextPath}}/updateBoard?boardNo={{board.boardNo}}">[수정(첨부파일수정x)]</a>
	<br>
	<a href="{{springMacroRequestContext.request.contextPath}}/boardList">Back to List</a>
</body>
</html>